html{
	background-color: #f9f9f9;
}

body{
	margin: 0;
	padding: 0;
}


@font-face{
    font-family: 'Decima Mono Pro';
    src: url('fonts/DecimaMonoPro.otf');
} 

@font-face{
    font-family: 'Decima Mono Pro - Bold';
    src: url('fonts/DecimaMonoPro-Bold.otf');
} 
#text{
	font-family: "Decima Mono Pro";
	position: relative;
	left: 50%;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: yellow;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
}

#effect_background{
	position: sticky;
	top: 0;
	background-size: cover;
	z-index: 100;
}


#effect_name{
	font-family: "Decima Mono Pro - Bold";
	position: relative;
	font-size: 3vw;
	top: 50%;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 0;
	margin-top: 0;
}

input{
	margin: 1%;
}



label{
	font-family: "Decima Mono Pro";
}

a {
	font-family: "Decima Mono Pro";
}

form{
	padding: auto;
	height: 100%;
	width: 100%;
}

.formContent{
	position: relative;
	background-color: #fefefe;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	padding: calc(0.5vw + 0.5vh);
	font-family: "Decima Mono Pro";
	top: 10%;
	left: calc(50vw - 200px - 0.5vw - 0.5vh );
	height: 300px;
}

.form {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	width: 100%;
	display: none;
	z-index: 1;
}


.btnCancel{
	color: #000;
	margin: 2%;
	padding: 2%;
	float: right;
	font-size: 13px;
}

.btnCancel:hover{
	text-decoration: none;
	cursor: pointer;
}