html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
#topleft { background-image: url(images/topleft.png); }
#botleft { background-image: url(images/botleft.jpg);}
#topright { background-image: url(images/topright.jpeg);}
#botright { background-image: url(images/botright.jpg);}
#topleft1 { background-image: url(images/topleft1.jpg);}


.container {
	text-align: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.effectname{	
  background-color: white;
  background-size: contain;
  font-size: 5vw; 
  font-weight: bold;
  width: auto;
  height: auto;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;

}